<p>
  <span>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tellus justo,
    pulvinar sit amet mauris eu, pulvinar posuere magna. Sed venenatis felis
    nulla, eu eleifend odio lobortis quis. Duis mi erat, dapibus vel facilisis
    varius, ultrices vel nulla. Vivamus tincidunt id ipsum faucibus mattis.
    Donec consequat, mauris vel semper convallis, ligula justo gravida erat, et
    placerat metus tortor quis eros. Aliquam tincidunt, tortor ac sagittis
    consequat, augue ipsum dignissim enim, et elementum odio ligula sit amet
    nunc. Aliquam erat volutpat.
    <?>
  </span>
</p>
<p>
  <span>
    Curabitur nec dolor lorem. Proin accumsan semper convallis. Etiam ipsum
    ante, scelerisque vel tristique sit amet, mollis et tellus. Fusce varius
    convallis mi, non lobortis diam. Nullam ipsum massa, molestie quis leo at,
    tincidunt lobortis lectus. Ut a tempus eros. Suspendisse ultrices at arcu
    non facilisis.
  </span>
</p>
